<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated iot -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="iot.presentation.IotModelWizardID"
            name="%_UI_IotModelWizard_label"
            class="iot.presentation.IotModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/IotModelFile.gif">
         <description>%_UI_IotModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated iot -->
      <editor
            id="iot.presentation.IotEditorID"
            name="%_UI_IotEditor_label"
            icon="icons/full/obj16/IotModelFile.gif"
            extensions="iot"
            class="iot.presentation.IotEditor"
            contributorClass="iot.presentation.IotActionBarContributor">
      </editor>
   </extension>

</plugin>
