<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated endlabels -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="endlabels.presentation.EndlabelsModelWizardID"
            name="%_UI_EndlabelsModelWizard_label"
            class="endlabels.presentation.EndlabelsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EndlabelsModelFile.gif">
         <description>%_UI_EndlabelsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated endlabels -->
      <editor
            id="endlabels.presentation.EndlabelsEditorID"
            name="%_UI_EndlabelsEditor_label"
            icon="icons/full/obj16/EndlabelsModelFile.gif"
            extensions="endlabels"
            class="endlabels.presentation.EndlabelsEditor"
            contributorClass="endlabels.presentation.EndlabelsActionBarContributor">
      </editor>
   </extension>

</plugin>
