<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated testEcoreModeling -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Acessibilidade.presentation.AcessibilidadeModelWizardID"
            name="%_UI_AcessibilidadeModelWizard_label"
            class="Acessibilidade.presentation.AcessibilidadeModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AcessibilidadeModelFile.gif">
         <description>%_UI_AcessibilidadeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated testEcoreModeling -->
      <editor
            id="Acessibilidade.presentation.AcessibilidadeEditorID"
            name="%_UI_AcessibilidadeEditor_label"
            icon="icons/full/obj16/AcessibilidadeModelFile.gif"
            extensions="acessibilidade"
            class="Acessibilidade.presentation.AcessibilidadeEditor"
            contributorClass="Acessibilidade.presentation.AcessibilidadeActionBarContributor">
      </editor>
   </extension>

</plugin>
